
.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  width: 100%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}
.button {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
  border: none;
}

.container {
  background-size:cover;
}

.jumbotron{
  font-family: 'Bodoni MT Black';    
  text-align: center;
  color: whitesmoke;
  background-size:cover; 
  background-image: url("./j_background.jpg");
  height: 180px;
  margin-top: -50px;  
    
}
.container-background {
  background-size:cover; 
  background-image: url("./j_background.jpg");
  
}
.images {
  border: none;
  align-content: center;

}
#top-scores {      
  text-align: left;
  color: whitesmoke;
  font-size: 30px;
  font-weight: bold;
}

#top-scoress {      
  text-align: left;
  color: whitesmoke;
  font-size: 30px;
  font-weight: bold;
}

#scores {
  text-align: left;
  color: whitesmoke;
  font-size: 30px;
  font-weight: bold;
}

#click-message {
  text-align: center;
  color: whitesmoke;
  font-size: 30px;
  font-weight: bold;
}

#restart-game {
  font-family: 'Bodoni MT Black';
  text-align: right;
  color: whitesmoke;
  font-size: 38px;
  font-weight: bold;
}